/* Menu*/
.cardimg{
}
/* Bateria*/
@font-face {
   font-family: agencyB;
   src: url(font\AGENCYB.TTF);
}
.bimg {
	margin:0px 70px;
	width:100px;
}
.bconnected{
	position: absolute;
	width:200px;
}
.blevelimg{
	width:200px;
	
}

.blevel{
	position:absolute;
	top:180px;
	font-size:90px;
	font-family: agencyB;
	color:black;
	text-align:center;
}
.bdischarge{
	position:absolute;
	top:270px;
	margin:0px 75px;
	font-size:20px;
	font-family: agencyB;
	color:black;	
	text-align:center;
}
/* Vibração */
.shake {
        animation: shake 1s 0 3;
        background: #cc0000;
		}
    
@keyframes shake {
        5%,
        45% {
            transform: translateX(-1px);
        }
        10%,
        40% {
            transform: translateX(2px);
        }
        15%,
        25%,
        35% {
            transform: translateX(-4px);
        }
        20%,
        30% {
            transform: translateX(4px);
        }
        50%,
        100% {
            transform: translateX(0);
        }
}
/*camera*/
#photo {
			height: 400px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50%;
		}
/*sensor*/
  button.stop {
        background: #cc0000;
    }
    table {
        width: 100%;
    }
    #m, #s, #ms {
        width: 30%;
    }
    .time {
        text-align: center;
        font-size: 30px;
    }
    .label {
        text-transform: uppercase;
        color: #666;
        text-align: right;
        font-size: 12px;
        width: 30%;
    }
    .value {
        font-size: 30px;
    }